* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
}

button {
}

button:hover {
}

#workspaces button {
  padding: 0 5px;
}

#workspaces button:hover {
}

#workspaces button.active {
  /*    box-shadow: inset 0 -2px #c9545d; */
  background-color: rgba(0,0,0,0.25);
  color:#33C9EB;
  /* border: 2px solid #c9545d; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#idle_inhibitor {
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.3);
  color: #ffffff;
  border-radius: 15px;
}

#idle_inhibitor {
  /* to center the eye */
  padding-right: 18px;
}

#network.disconnected {
  background-color: rgba(255, 50, 22, 0.6);
}

#temperature.critical {
  background-color: rgba(246, 50, 22, 0.6);
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}
